---
import InitLogo from "../assets/init.svg";
---

<a href="/" class="block w-fit mb-8">
    <InitLogo
        transition:name={"logo"}
        class="hover:opacity-80 transition-opacity"
        width={60}
        height={24}
    />
</a>
